{
    "openapi": "3.0.1",
    "info": {
        "title": "Veragi APIs",
        "description": "APIs Gateway - Responsáveis pelo roteamento e agregação de dados de múltiplos serviços. Estas APIs servem como ponto de entrada unificado para a plataforma Veragi.",
        "contact": {
            "name": "Equipe Veragi",
            "url": "https://veragi.accesstage.com.br",
            "email": "dev@accesstage.com.br"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://www.accesstage.com.br"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://integration-homolog1.accesstage.com.br",
            "description": "Ambiente de Homologação"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Card Receivable - Bases Control",
            "description": "Reference/control base endpoints for the Card Receivable module (payment arrangements, acquirers)."
        },
        {
            "name": "Card Receivable - Merchants",
            "description": "Endpoints to register and manage merchants (commercial establishments) for receivables operations."
        },
        {
            "name": "Card Receivable - Schedule Queries",
            "description": "Endpoints to submit and track asynchronous receivables schedule query requests for merchants (commercial establishments)."
        },
        {
            "name": "Card Receivable - Contracts",
            "description": "Endpoints to register and manage contracts"
        },
        {
            "name": "Card Receivable - Reconciliation",
            "description": "Endpoints to register bank reconciliation entries for card receivables."
        }
    ],
    "paths": {
        "/module/card-receivable/schedules/query-requests": {
            "post": {
                "tags": [
                    "Card Receivable - Schedule Queries"
                ],
                "summary": "Submit an asynchronous schedule query request",
                "description": "Creates an **asynchronous schedule query request** associated with a merchant (EC) and returns a reference identifier (`requestId`) that can be used to track the processing status.\n\n**Processing model:**\n- The schedule is **not** calculated in this call.\n- The request is registered for later processing by the receivables platform.\n- Use the returned `requestId` in follow-up/status endpoints to obtain the final result.\n- If webhook integration is enabled for the merchant, a callback notification will be sent when processing is completed.\n\n**Idempotency and duplicate submissions:**\n- The `Idempotency-Key` header is used to uniquely identify a schedule query request for a given merchant.\n- Reusing the same `Idempotency-Key` for the same merchant returns the previously registered request, instead of creating a new one.\n\n**Active request constraints:**\n- Only **one active schedule query** per merchant is allowed at a time.\n- If there is already an active request for the same merchant, a new one will not be created; the client will receive an error indicating that there is an ongoing query.\n\n**Query types:**\n- `STANDARD` — Default mode. Uses the merchant's current registration parameters to derive the query scope.\n- `EXPLORATORY` — Currently **not supported**. Requests using this type will result in `422 Unprocessable Entity` with a problem-details response explaining that the mode is not available.",
                "operationId": "crScheduleQueryRequestSubmit",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "description": "Unique UUID header used to ensure idempotent schedule query submissions for a given merchant.\n\n- Reusing the same key for the same merchant returns the existing request instead of creating a new one.\n- Helps prevent accidental duplicate queries.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "8f2db8b5-97c2-4f7b-9a3b-0a41b1a6765a"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScheduleQueryRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error — unexpected error while processing the request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Internal Server Error": {
                                        "summary": "Internal server error",
                                        "description": "Internal Server Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/internal-server-error",
                                            "title": "Internal Server Error",
                                            "status": 500,
                                            "detail": "An unexpected error occurred while processing the schedule query request."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Request successfully registered for asynchronous processing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduleQueryRequestSubmitResponse"
                                },
                                "examples": {
                                    "Success": {
                                        "summary": "Successful schedule query registration",
                                        "description": "Success",
                                        "value": {
                                            "message": "Schedule query request accepted for processing",
                                            "data": {
                                                "requestId": "b6c173c2-9e0c-4e65-b6f3-07e83e3e5124"
                                            },
                                            "metadata": {
                                                "apiVersion": "v1",
                                                "processTime": 78
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict — duplicate idempotency key or active schedule already in progress",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Conflict": {
                                        "summary": "Duplicate or active schedule",
                                        "description": "Conflict",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/conflict",
                                            "title": "Conflict",
                                            "status": 409,
                                            "detail": "An active schedule query request already exists for this merchant.",
                                            "violations": [
                                                {
                                                    "field": "$.merchantCnpj",
                                                    "message": "A new schedule query request cannot be created because a previous one is still in progress."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error — missing or invalid fields in the request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "ValidationError": {
                                        "summary": "Invalid input",
                                        "description": "ValidationError",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "Invalid field value in request body.",
                                            "violations": [
                                                {
                                                    "field": "$.merchantCnpj",
                                                    "message": "merchantCnpj must be a valid CNPJ"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity — valid request, but not processable (e.g., unsupported query type)",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Unprocessable Entity": {
                                        "summary": "Unsupported query type",
                                        "description": "Unprocessable Entity",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/unprocessable-entity",
                                            "title": "Unprocessable Entity",
                                            "status": 422,
                                            "detail": "queryType is not currently supported (EXPLORATORY)",
                                            "violations": [
                                                {
                                                    "field": "$.queryType",
                                                    "message": "queryType is not currently supported"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "summary": "Forbidden",
                                        "description": "Forbidden",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/forbidden",
                                            "title": "Forbidden",
                                            "status": 403,
                                            "detail": "User lacks permission to perform this operation."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "description": "Unauthorized",
                                        "value": {
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/module/card-receivable/reconciliation/entry": {
            "post": {
                "tags": [
                    "Card Receivable - Reconciliation"
                ],
                "summary": "Create a bank reconciliation entry",
                "description": "Registers a bank reconciliation entry for the card receivables module.\n\n### Payload\n- `entryId` is required and identifies the reconciliation entry uniquely.\n- Reusing an `entryId` already received causes the request to be rejected.\n- A different `entryId` with the same `merchant` and `bankAccount` is accepted as new record.\n- `bankAccount` is the customer account code and accepts at most 40 characters.\n\n### Business rules\n- `referenceDate` MUST be equal to the current date.\n- `merchant` MUST contain either 14 digits OR 12 alphanumeric + 2 numeric (no punctuation) and already registered.\n- `bankAccount` MUST belong to the informed `merchant` and be associated with a Veragi contract.\n- The associated contract MUST be active.\n- The associated contract MUST have been created via API.\n- `acquirer` MUST contain either 14 digits OR 12 alphanumeric + 2 numeric (no punctuation)\n- `value` MUST be greater than or equal to zero.\n",
                "operationId": "crBankReconciliationEntryCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BankReconciliationEntry"
                            },
                            "examples": {
                                "Request Example": {
                                    "summary": "Valid reconciliation entry",
                                    "description": "Request Example",
                                    "value": {
                                        "entryId": "de5b08b8-37d9-49fd-9d16-2ebf831c42aa",
                                        "referenceDate": "2026-06-02",
                                        "merchant": "22185894000174",
                                        "acquirer": "04216628000184",
                                        "bankAccount": "1234567890123",
                                        "value": 1520.35
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "summary": "Forbidden",
                                        "description": "Forbidden",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/forbidden",
                                            "title": "Forbidden",
                                            "status": 403,
                                            "detail": "Access denied: user does not have sufficient permissions",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:30:00Z",
                                            "traceId": "1d3bd8dd-08fd-48d8-b70a-d815f6f86b17",
                                            "errorCode": "FORBIDDEN_OPERATION"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error — missing or invalid fields in the request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Validation Error": {
                                        "summary": "Missing or invalid fields",
                                        "description": "Validation Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:20:00Z",
                                            "traceId": "49ab6bb9-e633-4a1b-830f-8c6287db3f63",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "REQUIRED",
                                                    "name": "entryId",
                                                    "reason": "entryId é obrigatório",
                                                    "location": "body",
                                                    "path": "$.entryId",
                                                    "value": null
                                                },
                                                {
                                                    "code": "REQUIRED",
                                                    "name": "referenceDate",
                                                    "reason": "referenceDate é obrigatório",
                                                    "location": "body",
                                                    "path": "$.referenceDate",
                                                    "value": null
                                                },
                                                {
                                                    "code": "REQUIRED",
                                                    "name": "merchant",
                                                    "reason": "merchant é obrigatório",
                                                    "location": "body",
                                                    "path": "$.merchant",
                                                    "value": ""
                                                },
                                                {
                                                    "code": "SIZE",
                                                    "name": "bankAccount",
                                                    "reason": "bankAccount deve possuir no máximo 40 caracteres",
                                                    "location": "body",
                                                    "path": "$.bankAccount",
                                                    "value": "12345678901234"
                                                }
                                            ]
                                        }
                                    },
                                    "Duplicate entryId": {
                                        "summary": "Duplicate entryId",
                                        "description": "Duplicate entryId",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "Bank reconciliation entry request validation failed",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:25:00Z",
                                            "traceId": "4f9c0b93-1ef9-4a42-8a25-8eaec1f5a1d7",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "entryId",
                                                    "reason": "ID já processado",
                                                    "location": "body",
                                                    "path": "$.entryId",
                                                    "value": "de5b08b8-37d9-49fd-9d16-2ebf831c42aa"
                                                }
                                            ]
                                        }
                                    },
                                    "Contract Not Found": {
                                        "summary": "Bank account without contract",
                                        "description": "Contract Not Found",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "Bank reconciliation entry request validation failed",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:26:00Z",
                                            "traceId": "50932c73-b165-40b5-a841-b2862fa1c252",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "bankAccount",
                                                    "reason": "Contrato não encontrado",
                                                    "location": "body",
                                                    "path": "$.bankAccount",
                                                    "value": "1234567890123"
                                                }
                                            ]
                                        }
                                    },
                                    "Contract Not Active": {
                                        "summary": "Inactive associated contract",
                                        "description": "Contract Not Active",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "Bank reconciliation entry request validation failed",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:27:00Z",
                                            "traceId": "73fd8ca6-f4c7-4c81-92d1-5161f5927c8b",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "bankAccount",
                                                    "reason": "Contrato não está ativo",
                                                    "location": "body",
                                                    "path": "$.bankAccount",
                                                    "value": "1234567890123"
                                                }
                                            ]
                                        }
                                    },
                                    "Contract Not Created Via API": {
                                        "summary": "Associated contract not created via API",
                                        "description": "Contract Not Created Via API",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "Bank reconciliation entry request validation failed",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:28:00Z",
                                            "traceId": "52ee46b7-8af6-49a3-b6e3-ad6ac9679c4f",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "bankAccount",
                                                    "reason": "Contrato não criado via API",
                                                    "location": "body",
                                                    "path": "$.bankAccount",
                                                    "value": "1234567890123"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error — unexpected error while processing the request",
                        "content": {
                            "application/problem+json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "summary": "Internal server error",
                                        "description": "Internal Server Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/internal-server-error",
                                            "title": "Internal Server Error",
                                            "status": 500,
                                            "detail": "Unexpected error",
                                            "instance": "/module/card-receivable/reconciliation/entry",
                                            "timestamp": "2026-06-02T14:35:00Z",
                                            "traceId": "79dbdf72-a7f4-4760-a881-f75cc4ef8f9b",
                                            "errorCode": "INTERNAL_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Bank reconciliation entry created"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "description": "Unauthorized",
                                        "value": {
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/module/card-receivable/merchants": {
            "post": {
                "tags": [
                    "Card Receivable - Merchants"
                ],
                "summary": "Register a merchant (commercial establishment)",
                "description": "Creates a merchant to enable credit-card receivables operations. \n Notes (validated server-side):\n\n- **cnpj**: 14 digits OR 12 alphanumeric + 2 numeric (no punctuation).\n- **mobilePhone**: exactly 11 digits (DDD + 9 digits), no punctuation.\n- **receivablesScheduleConfig**: groups the forward-looking scope (window, acquirer CNPJs, arrangement codes).\n\t * **acquirerCnpjs**: items must be unique; if \"99999999000199\" is present, it MUST be the ONLY item.\n\t * **arrangementCodes**: items must be unique; if \"999\" is present, it MUST be the ONLY item.\n- **releaseAccounts** (optional): if informed, may contain up to 3 accounts on initial registration.\n\t * **externalId**: is REQUIRED only if more than one account is sent; values must be UNIQUE within the array.\n\t * Within this array, the tuple (accountType, bankCode, branch, account) MUST be unique (no duplicates).\n- Conditional requirements:\n\t * **limitAmount** is REQUIRED only when **limitType = 2 (GLOBAL);** MUST NOT be provided when **limitType** is 1 or 3.",
                "operationId": "crMerchantCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MerchantCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity — the request is semantically valid, but cannot be processed due to system conditions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Preconditions Not Met": {
                                        "summary": "Preconditions not met",
                                        "description": "Preconditions Not Met",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/unprocessable-entity",
                                            "title": "Unprocessable Entity",
                                            "status": 422,
                                            "detail": "The request cannot be processed due to current system conditions.",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "6a1b2c3d-4e5f-4a67-8b9c-0d1e2f3a4b5c",
                                            "errorCode": "PREREQUISITES_NOT_MET"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error — unexpected error while processing the request",
                        "content": {
                            "application/problem+json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "summary": "Internal server error",
                                        "description": "Internal Server Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/internal-server-error",
                                            "title": "Internal Server Error",
                                            "status": 500,
                                            "detail": "Unexpected error",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "bc054be6-930d-415e-83d2-7682e886debf",
                                            "errorCode": "INTERNAL_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error — missing or invalid fields in the request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Multi Validation Error": {
                                        "summary": "Multi validation error",
                                        "description": "Multi Validation Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "123e4567-e89b-42d3-a456-426614174000",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "PATTERN_MISMATCH",
                                                    "name": "mobilePhone",
                                                    "reason": "must match pattern ^\\d{11}$ (DDD + 9 digits)",
                                                    "path": "$.mobilePhone",
                                                    "value": "11-998765432"
                                                },
                                                {
                                                    "code": "MUST_BE_UNIQUE",
                                                    "name": "receivablesScheduleConfig.arrangementCodes",
                                                    "reason": "items must be unique",
                                                    "path": "$.receivablesScheduleConfig.arrangementCodes",
                                                    "value": [
                                                        "ACC",
                                                        "VCC",
                                                        "ACC"
                                                    ]
                                                },
                                                {
                                                    "code": "WILDCARD_EXCLUSIVE",
                                                    "name": "receivablesScheduleConfig.arrangementCodes",
                                                    "reason": "when '999' is present it must be the only item",
                                                    "path": "$.receivablesScheduleConfig.arrangementCodes",
                                                    "value": [
                                                        "999",
                                                        "VCC"
                                                    ]
                                                },
                                                {
                                                    "code": "MUST_BE_UNIQUE",
                                                    "name": "receivablesScheduleConfig.acquirerCnpjs",
                                                    "reason": "items must be unique",
                                                    "path": "$.receivablesScheduleConfig.acquirerCnpjs",
                                                    "value": [
                                                        "82413081000116",
                                                        "82413081000116"
                                                    ]
                                                },
                                                {
                                                    "code": "WILDCARD_EXCLUSIVE",
                                                    "name": "receivablesScheduleConfig.acquirerCnpjs",
                                                    "reason": "when '99999999000199' is present it must be the only item",
                                                    "path": "$.receivablesScheduleConfig.acquirerCnpjs",
                                                    "value": [
                                                        "99999999000199",
                                                        "82413081000116"
                                                    ]
                                                },
                                                {
                                                    "code": "REQUIRED_WHEN",
                                                    "name": "limitAmount",
                                                    "reason": "is required when limitType = 2 (GLOBAL)",
                                                    "path": "$.limitAmount"
                                                },
                                                {
                                                    "code": "REQUIRED_WHEN",
                                                    "name": "releaseAccounts[1].externalId",
                                                    "reason": "is required when more than one account is provided",
                                                    "path": "$.releaseAccounts[1].externalId"
                                                },
                                                {
                                                    "code": "MUST_BE_UNIQUE",
                                                    "name": "releaseAccounts",
                                                    "reason": "(accountType, bankCode, branch, account) must be unique",
                                                    "path": "$.releaseAccounts",
                                                    "value": [
                                                        {
                                                            "accountType": "CONTA_DEPOSITO_A_VISTA",
                                                            "bankCode": "260",
                                                            "branch": "0001",
                                                            "account": "98765432100"
                                                        },
                                                        {
                                                            "accountType": "CONTA_DEPOSITO_A_VISTA",
                                                            "bankCode": "260",
                                                            "branch": "0001",
                                                            "account": "98765432100"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict - Duplicate resource",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Duplicate CNPJ Conflict": {
                                        "summary": "Duplicate CNPJ conflict",
                                        "description": "Duplicate CNPJ Conflict",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/conflict",
                                            "title": "Conflict",
                                            "status": 409,
                                            "detail": "A merchant with CNPJ 82413081000116 already exists.",
                                            "instance": "/module/card-receivable/merchants/82413081000116",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "f4147d7e-4eb8-47cb-80ca-02e5599b984f",
                                            "errorCode": "CONFLICT_DUPLICATES_FOUND",
                                            "conflicts": [
                                                {
                                                    "code": "DUPLICATE_CNPJ",
                                                    "title": "CNPJ already exists",
                                                    "detail": "A merchant with CNPJ 82413081000116 already exists.",
                                                    "path": "$.cnpj",
                                                    "value": "82413081000116"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Merchant successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MerchantCreateResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "summary": "Forbidden",
                                        "description": "Forbidden",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/forbidden",
                                            "title": "Forbidden",
                                            "status": 403,
                                            "detail": "Access denied: user does not have sufficient permissions",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "035850d4-caeb-4366-ac61-0fdd212a0474",
                                            "errorCode": "FORBIDDEN_OPERATION"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "description": "Unauthorized",
                                        "value": {
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/module/card-receivable/contracts/anticipation": {
            "post": {
                "tags": [
                    "Card Receivable - Contracts"
                ],
                "summary": "Create an anticipation contract",
                "description": "Creates an anticipation contract.\n\n### Idempotency\n- The request MUST include the `Idempotency-Key` header.\n- Requests with the same `Idempotency-Key` and payload MUST be treated as the same operation.\n- Reusing the same `Idempotency-Key` with a different payload MUST return **409 Conflict**.\n\n### Business rules\n- At least one guarantee MUST be provided.\n- `Sum(guarantees[].definedAmount)` MUST equal `requestedAmount`.\n- The root (first 8 digits) of `contractorCnpj` MUST match each `guarantees[].finalUserReceiverCnpj`.\n- `settlementDate` MUST be \u003E= current date + N business days.\n",
                "operationId": "crContractAnticipationCreate",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "description": "Unique UUID header used to ensure idempotent contract creation.\n\n- Reusing the same key with a different payload returns 409.\n- Helps prevent accidental duplicate requests.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "a752ca8c-95b9-5a28-82c5-2ecc93a665ff"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContractAnticipationCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "409": {
                        "description": "Conflict - Duplicate idempotency key",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Conflict": {
                                        "summary": "Conflict",
                                        "description": "Conflict",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/conflict",
                                            "title": "Conflict",
                                            "status": 409,
                                            "detail": "Idempotency-Key reuse conflict.",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2026-01-07T16:03:43Z",
                                            "traceId": "fabb44dd-dbf3-486a-b1b8-f6c1430d2ceb",
                                            "errorCode": "RESOURCE_STATE_CONFLICT",
                                            "conflicts": [
                                                {
                                                    "code": "DUPLICATE_IDEMPOTENCY_KEY",
                                                    "title": "Idempotency-Key already used",
                                                    "detail": "The provided Idempotency-Key was already used with different data.",
                                                    "location": "header",
                                                    "path": null,
                                                    "value": "42dec8a7-66b8-56ba-97a7-7a0f0f39ef09"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Errors on Multiple Fields",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Multiple validation errors": {
                                        "summary": "Multiple validation errors",
                                        "description": "Multiple validation errors",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "Contract anticipation creation request validation failed",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-12-29T17:21:34Z",
                                            "traceId": "7fbddf1e-97f2-40cb-bf19-f6e0e8d0b3fc",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "settlementDate",
                                                    "reason": "settlementDate must be greater than or equal to signatureDate and 5 business days from today",
                                                    "location": "body",
                                                    "path": "$.guarantees[1].settlementDate",
                                                    "value": "2026-01-02"
                                                },
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "requestedAmount",
                                                    "reason": "requested amount does not match the sum of the guarantees",
                                                    "location": "body",
                                                    "path": "$.requestedAmount",
                                                    "value": 10000
                                                },
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "receivingFinalUserCnpj",
                                                    "reason": "receiving final user CNPJ root does not match the contractor CNPJ roots in the guarantees.",
                                                    "location": "body",
                                                    "path": "$.receivingFinalUserCnpj",
                                                    "value": "41702501"
                                                },
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "acquirerCnpjs",
                                                    "reason": "The following acquirer CNPJs were not found: [02128687000170]",
                                                    "location": "body",
                                                    "path": "$.guarantees[*].acquirerCnpj",
                                                    "value": [
                                                        "02128687000170"
                                                    ]
                                                },
                                                {
                                                    "code": "VALIDATION_ERROR",
                                                    "name": "paymentArrangementCode",
                                                    "reason": "The following Payment Arrangement Codes were not found: [XXX]",
                                                    "location": "body",
                                                    "path": "$.guarantees[*].paymentArrangementCode",
                                                    "value": [
                                                        "XXX"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "Invalid CNPJ": {
                                        "summary": "Invalid CNPJ",
                                        "description": "Invalid CNPJ",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-12-29T17:22:01Z",
                                            "traceId": "ba388cf9-465d-4597-a1c0-d8e08dba6030",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "CNPJ",
                                                    "name": "contractorCnpj",
                                                    "reason": "contractorCnpj must be a valid CNPJ",
                                                    "location": "body",
                                                    "path": "$.contractorCnpj",
                                                    "value": "2218589400017"
                                                },
                                                {
                                                    "code": "PATTERN_MISMATCH",
                                                    "name": "contractorCnpj",
                                                    "reason": "must match \"^[A-Za-z0-9]{12}\\d{2}$\"",
                                                    "location": "body",
                                                    "path": "$.contractorCnpj",
                                                    "value": "2218589400017"
                                                }
                                            ]
                                        }
                                    },
                                    "Invalid date": {
                                        "summary": "Invalid date",
                                        "description": "Invalid date",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-12-29T17:22:40Z",
                                            "traceId": "ab830aee-cd90-437e-ab2b-e3cb8a5cff11",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "INVALID_VALUE",
                                                    "name": "signatureDate",
                                                    "reason": "Invalid type for field.",
                                                    "location": "body",
                                                    "path": "$.signatureDate",
                                                    "value": "2025-12-40"
                                                }
                                            ]
                                        }
                                    },
                                    "Missing header": {
                                        "summary": "Missing header",
                                        "description": "Missing header",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-12-30T14:26:59Z",
                                            "traceId": "1f1cceda-76f2-4c8e-b063-055a271c2e43",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "REQUIRED",
                                                    "name": "Idempotency-Key",
                                                    "reason": "Missing header value.",
                                                    "location": "header",
                                                    "path": null,
                                                    "value": null
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "summary": "Forbidden",
                                        "description": "Forbidden",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/forbidden",
                                            "title": "Forbidden",
                                            "status": 403,
                                            "detail": "Access denied: user does not have sufficient permissions",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "304126e1-297f-4a1b-8d67-1ddc9c1556da",
                                            "errorCode": "FORBIDDEN_OPERATION"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error — unexpected error while processing the request",
                        "content": {
                            "application/problem+json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "summary": "Internal server error",
                                        "description": "Internal Server Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/internal-server-error",
                                            "title": "Internal Server Error",
                                            "status": 500,
                                            "detail": "Unexpected error",
                                            "instance": "'/module/card-receivable/contracts/anticipation'",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "304126e1-297f-4a1b-8d67-1ddc9c1556da",
                                            "errorCode": "INTERNAL_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Not Found": {
                                        "summary": "Not Found",
                                        "description": "Not Found",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/not-found",
                                            "title": "Not Found",
                                            "status": 404,
                                            "detail": "Contractor with CNPJ 22185894000174 not found.",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-11-05T10:30:00Z",
                                            "traceId": "304126e1-297f-4a1b-8d67-1ddc9c1556da",
                                            "errorCode": "NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Anticipation Contract created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContractListByContractorAndSituationResponse"
                                },
                                "examples": {
                                    "Anticipation Contract Created Result Success": {
                                        "description": "Anticipation Contract Created Result Success",
                                        "value": {
                                            "message": "Request processed",
                                            "timestamp": "2025-12-30T13:45:00Z",
                                            "traceId": "fa2b1876-4403-4e5b-8222-8eac913c45bf",
                                            "data": {
                                                "financierContractId": "CON/07237373/22185894000174/301225/104443",
                                                "contractorCnpj": "22185894000174",
                                                "externalReference": "CON/07237373/22185894000174/301225/104443"
                                            },
                                            "metadata": {
                                                "processTime": 52939,
                                                "apiVersion": "v1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Unprocessable Entity": {
                                        "summary": "Unprocessable Entity",
                                        "description": "Unprocessable Entity",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/unprocessable-entity",
                                            "title": "Unprocessable Entity",
                                            "status": 422,
                                            "detail": "The request cannot be processed due to current system conditions.",
                                            "instance": "/module/card-receivable/contracts/anticipation",
                                            "timestamp": "2025-12-30T12:41:38Z",
                                            "traceId": "b508830f-e327-498d-b018-43defde93f4e",
                                            "errorCode": "PREREQUISITES_NOT_MET",
                                            "violations": [
                                                {
                                                    "code": "PREREQUISITES_NOT_MET",
                                                    "name": "LastDayBlock",
                                                    "reason": "Contract creation is not allowed on the last business day of the month due to a business rule.",
                                                    "location": "body",
                                                    "path": "$.contractorCnpj",
                                                    "value": "22185894000174"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "description": "Unauthorized",
                                        "value": {
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/module/card-receivable/merchants/{cnpj}": {
            "get": {
                "tags": [
                    "Card Receivable - Merchants"
                ],
                "summary": "Get merchant by CNPJ",
                "description": "Retrieves a registered merchant (commercial establishment) by its CNPJ.\u003Cbr\u003E\u003Cbr\u003EPath parameter must follow the same format as registration:\u003Cul\u003E\u003Cli\u003E14 numeric digits (CNPJ)\u003C/li\u003E\u003Cli\u003Eor 12 alphanumeric + 2 numeric check digits (for non-standard identifiers)\u003C/li\u003E\u003C/ul\u003ENo punctuation allowed.",
                "operationId": "crMerchantGetByCnpj",
                "parameters": [
                    {
                        "name": "cnpj",
                        "in": "path",
                        "description": "Brazilian CNPJ (14 digits or 12 alphanumeric + 2 numeric). No punctuation.",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z0-9]{12}\\d{2}$",
                            "type": "string"
                        },
                        "example": 82413081000116
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal Server Error — unexpected error while processing the request",
                        "content": {
                            "application/problem+json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "summary": "Internal server error",
                                        "description": "Internal Server Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/internal-server-error",
                                            "title": "Internal Server Error",
                                            "status": 500,
                                            "detail": "Unexpected error",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "bc054be6-930d-415e-83d2-7682e886debf",
                                            "errorCode": "INTERNAL_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error — missing or invalid fields in the request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Multi Validation Error": {
                                        "summary": "Multi validation error",
                                        "description": "Multi Validation Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "123e4567-e89b-42d3-a456-426614174000",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "PATTERN_MISMATCH",
                                                    "name": "mobilePhone",
                                                    "reason": "must match pattern ^\\d{11}$ (DDD + 9 digits)",
                                                    "path": "$.mobilePhone",
                                                    "value": "11-998765432"
                                                },
                                                {
                                                    "code": "MUST_BE_UNIQUE",
                                                    "name": "receivablesScheduleConfig.arrangementCodes",
                                                    "reason": "items must be unique",
                                                    "path": "$.receivablesScheduleConfig.arrangementCodes",
                                                    "value": [
                                                        "ACC",
                                                        "VCC",
                                                        "ACC"
                                                    ]
                                                },
                                                {
                                                    "code": "WILDCARD_EXCLUSIVE",
                                                    "name": "receivablesScheduleConfig.arrangementCodes",
                                                    "reason": "when '999' is present it must be the only item",
                                                    "path": "$.receivablesScheduleConfig.arrangementCodes",
                                                    "value": [
                                                        "999",
                                                        "VCC"
                                                    ]
                                                },
                                                {
                                                    "code": "MUST_BE_UNIQUE",
                                                    "name": "receivablesScheduleConfig.acquirerCnpjs",
                                                    "reason": "items must be unique",
                                                    "path": "$.receivablesScheduleConfig.acquirerCnpjs",
                                                    "value": [
                                                        "82413081000116",
                                                        "82413081000116"
                                                    ]
                                                },
                                                {
                                                    "code": "WILDCARD_EXCLUSIVE",
                                                    "name": "receivablesScheduleConfig.acquirerCnpjs",
                                                    "reason": "when '99999999000199' is present it must be the only item",
                                                    "path": "$.receivablesScheduleConfig.acquirerCnpjs",
                                                    "value": [
                                                        "99999999000199",
                                                        "82413081000116"
                                                    ]
                                                },
                                                {
                                                    "code": "REQUIRED_WHEN",
                                                    "name": "limitAmount",
                                                    "reason": "is required when limitType = 2 (GLOBAL)",
                                                    "path": "$.limitAmount"
                                                },
                                                {
                                                    "code": "REQUIRED_WHEN",
                                                    "name": "releaseAccounts[1].externalId",
                                                    "reason": "is required when more than one account is provided",
                                                    "path": "$.releaseAccounts[1].externalId"
                                                },
                                                {
                                                    "code": "MUST_BE_UNIQUE",
                                                    "name": "releaseAccounts",
                                                    "reason": "(accountType, bankCode, branch, account) must be unique",
                                                    "path": "$.releaseAccounts",
                                                    "value": [
                                                        {
                                                            "accountType": "CONTA_DEPOSITO_A_VISTA",
                                                            "bankCode": "260",
                                                            "branch": "0001",
                                                            "account": "98765432100"
                                                        },
                                                        {
                                                            "accountType": "CONTA_DEPOSITO_A_VISTA",
                                                            "bankCode": "260",
                                                            "branch": "0001",
                                                            "account": "98765432100"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Merchant retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MerchantGetByCnpjResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "summary": "Forbidden",
                                        "description": "Forbidden",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/forbidden",
                                            "title": "Forbidden",
                                            "status": 403,
                                            "detail": "Access denied: user does not have sufficient permissions",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "035850d4-caeb-4366-ac61-0fdd212a0474",
                                            "errorCode": "FORBIDDEN_OPERATION"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Merchant not found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Merchant Not Found": {
                                        "summary": "Merchant not found",
                                        "description": "Merchant Not Found",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/not-found",
                                            "title": "Not Found",
                                            "status": 404,
                                            "detail": "Merchant with CNPJ 82413081000116 was not found.",
                                            "instance": "/module/card-receivable/merchants/82413081000116",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "2ced3abb-c433-408f-a3ab-d88b598de065",
                                            "errorCode": "NOT_FOUND",
                                            "notFound": [
                                                {
                                                    "code": "RESOURCE_NOT_FOUND",
                                                    "title": "Merchant not found",
                                                    "detail": "No merchant record exists for the provided CNPJ.",
                                                    "path": "$.cnpj",
                                                    "value": "82413081000116"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "description": "Unauthorized",
                                        "value": {
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Card Receivable - Merchants"
                ],
                "summary": "Logically delete a merchant by CNPJ",
                "description": "Performs a **logical (soft) deletion** of a merchant (commercial establishment) identified by its CNPJ.\n\n- The merchant record is **not** physically removed from the database.\n- Instead, it is marked as deleted and will no longer appear in queries.\n- This operation is **idempotent**: if the merchant is already deleted, a **204 No Content** is returned (the desired end-state is already achieved).\n- A **404 Not Found** is returned only if the CNPJ has never been registered for the current financier.",
                "operationId": "crMerchantDeleteByCnpj",
                "parameters": [
                    {
                        "name": "cnpj",
                        "in": "path",
                        "description": "Brazilian CNPJ (14 digits or 12 alphanumeric + 2 numeric). No punctuation.",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z0-9]{12}\\d{2}$",
                            "type": "string"
                        },
                        "example": 82413081000116
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Merchant successfully deleted (no content)"
                    },
                    "404": {
                        "description": "Merchant not found — the CNPJ has never been registered",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Merchant Not Found": {
                                        "summary": "Merchant not found",
                                        "description": "Merchant Not Found",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/not-found",
                                            "title": "Not Found",
                                            "status": 404,
                                            "detail": "Merchant with CNPJ 82413081000116 was not found.",
                                            "instance": "/module/card-receivable/merchants/82413081000116",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "2ced3abb-c433-408f-a3ab-d88b598de065",
                                            "errorCode": "NOT_FOUND",
                                            "notFound": [
                                                {
                                                    "code": "RESOURCE_NOT_FOUND",
                                                    "title": "Merchant not found",
                                                    "detail": "No merchant record exists for the provided CNPJ.",
                                                    "path": "$.cnpj",
                                                    "value": "82413081000116"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error — unexpected error while processing the request",
                        "content": {
                            "application/problem+json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "summary": "Internal server error",
                                        "description": "Internal Server Error",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/internal-server-error",
                                            "title": "Internal Server Error",
                                            "status": 500,
                                            "detail": "Unexpected error",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "bc054be6-930d-415e-83d2-7682e886debf",
                                            "errorCode": "INTERNAL_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error — missing or invalid fields in the request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Invalid CNPJ": {
                                        "summary": "Invalid CNPJ format",
                                        "description": "Invalid CNPJ",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/validation-error",
                                            "title": "Validation Error",
                                            "status": 400,
                                            "detail": "There are validation errors in the submitted payload.",
                                            "instance": "/module/card-receivable/merchants/8241308100011",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "123e4567-e89b-42d3-a456-426614174000",
                                            "errorCode": "VALIDATION_FAILED",
                                            "violations": [
                                                {
                                                    "code": "PATTERN_MISMATCH",
                                                    "name": "cnpj",
                                                    "reason": "must match pattern ^[A-Za-z0-9]{12}\\d{2}$",
                                                    "location": "path",
                                                    "value": "8241308100011"
                                                },
                                                {
                                                    "code": "CNPJ",
                                                    "name": "cnpj",
                                                    "reason": "cnpj must be a valid CNPJ",
                                                    "location": "path",
                                                    "value": "8241308100011"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "summary": "Forbidden",
                                        "description": "Forbidden",
                                        "value": {
                                            "type": "https://veragi.accesstage.com.br/problems/forbidden",
                                            "title": "Forbidden",
                                            "status": 403,
                                            "detail": "Access denied: user does not have sufficient permissions",
                                            "instance": "/module/card-receivable/merchants",
                                            "timestamp": "2025-09-15T12:00:00Z",
                                            "traceId": "035850d4-caeb-4366-ac61-0fdd212a0474",
                                            "errorCode": "FORBIDDEN_OPERATION"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "description": "Unauthorized",
                                        "value": {
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
[...]
